@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import 'swiper/css';
@import 'swiper/css/navigation';

@theme {

  --color-white90: #E4E4E7;
  --color-white95: #F1F1F3;
  --color-white97: #F7F7F8;
  --color-white99: #FCFCFD;

  --color-purple60: #703BF7;
  --color-purple65: #8254F8;
  --color-purple70: #946CF9;
  --color-purple75: #A685FA;
  --color-purple90: #DBCEFD;
  --color-purple95: #EDE7FE;
  --color-purple97: #F4F0FE;
  --color-purple99: #FBFAFF;

  --color-gray08: #141414;
  --color-gray10: #1A1A1A;
  --color-gray15: #262626;
  --color-gray20: #333333;
  --color-gray30: #4D4D4D;
  --color-gray40: #666666;
  --color-gray50: #808080;
  --color-gray60: #999999;
  --color-gray65: #F7F7F7;
  --color-gray70: #141414;
  --color-gray75: #D4D4D8;

  --font-urbanist       : "Urbanist", sans-serif;
  --breakpoint-lg-custom: 992px;
  --breakpoint-huge     : 1921px;
}

@layer utilities {
  .bg-gradient-custom {
    background: linear-gradient(95.93deg, #262626 -26.82%, rgba(38, 38, 38, 0) 40.46%);
  }

  .bg-gradient-custom-light {
    background: linear-gradient(95.93deg, #946CF9 -26.82%, rgba(38, 38, 38, 0) 40.46%);
  }
}

@keyframes dotBounce {

  0%,
  80%,
  100% {
    transform: scale(0);
    opacity  : 1;
  }

  40% {
    transform: scale(0.8);
    opacity  : 1;
  }

  5% {
    opacity: 0;
  }
}

.animate-dotBounce {
  animation: dotBounce 1.5s infinite ease-in-out;
}

.animation-delay-\[0\.4s\] {
  animation-delay: 0.4s;
}

.animation-delay-\[0\.25s\] {
  animation-delay: 0.25s;
}

.animation-delay-\[0\.1s\] {
  animation-delay: 0.1s;
}

@layer base {

  /* Scrollbar width and track */
  ::-webkit-scrollbar {
    width : 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background   : var(--color-gray10);
    border-radius: 10px;
  }

  /* Scrollbar Thumb */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
        var(--color-purple60),
        var(--color-purple70));
    border-radius: 10px;
    border       : 2px solid var(--color-gray10);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg,
        var(--color-purple70),
        var(--color-purple75));
  }

  /* Firefox scrollbar */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-purple65) var(--color-gray10);
  }

  /* Dark mode scrollbar track & thumb override
  .dark ::-webkit-scrollbar-track {
    background: var(--color-gray08);
  }

  .dark ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
        var(--color-purple65),
        var(--color-purple75));
    border: 2px solid var(--color-gray08);
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg,
        var(--color-purple70),
        var(--color-purple90));
  }*/
}



/* gradient border around icon */
.border-gradient-custom_1::before {
  content : '';
  position: absolute;
  inset   : 0;
  padding : 1px;
  background:
    linear-gradient(130.5deg, #A685FA -3.27%, rgba(166, 133, 250, 0) 30.09%),
    linear-gradient(305.31deg, #A685FA -20.93%, rgba(166, 133, 250, 0) 37.94%);
  background-blend-mode: screen;
  border-radius        : 50%;
  -webkit-mask         :
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite        : exclude;
  z-index               : 0;
  pointer-events        : none;
}


.border-gradient-custom_2::before {
  content : '';
  position: absolute;
  inset   : 0;
  padding : 1px;
  background:
    linear-gradient(40.65deg, #A685FA 0.85%, rgba(166, 133, 250, 0) 34.8%),
    linear-gradient(219.04deg, #A685FA -6.93%, rgba(166, 133, 250, 0) 52.6%);
  background-blend-mode: screen;
  border-radius        : 50%;
  -webkit-mask         :
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite        : exclude;
  z-index               : 0;
  pointer-events        : none;
}